<% # テンプレートの中でタイトルとかを決められるようにするために先に評価しておく %>
<% main_template = include(@main_template) %>
<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ja" xml:lang="ja" xmlns="http://www.w3.org/1999/xhtml" />
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="content-script-type" content="text/javascript" />
  <title><%= @title %></title>
  <style>
  <!--
    .task-status-registered {
      background-color: #ffffff;
    }
    .task-status-done {
      color: #888888;
      background-color: #cccccc;
    }
  -->
  </style>
</head>
<body>
  <%== main_template %>
</body>
</html>

